body{
    background: #dada;
}

.books{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 175px;
    background: white;
    width: 800px;
    height: 650px;
}

.row{
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    
}

 h4{
    align-items: center;
    text-align: center;
    justify-content: center;
    background: black;
    height: 65px;
    width: 200px;
    padding-top: 10px;
    color: white;
    border: solid white;
    border-radius: 20px;

}

.marks{

    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border: solid black 2px;
}

.btn{
    background: goldenrod;

    color: black;
    width: 300px;
}


.btn:hover{
    color: white;
    background-color: black;

}




